okta:
  oauth2:
    issuer: https://{YOUR-DOMAIN}.auth0.com/
    client-id: {YOUR-CLIENT-ID}
    client-secret: {YOUR-CLIENT-SECRET}
    audience: {YOUR-API-IDENTIFIER}

openfga:
  fga-api-url: http://localhost:4000
  fga-store-id : {FGA-STORE-ID}
  fga-authorization-model-id: {FGA-AUTHORIZATION-MODEL-ID}

server:
  port: 8082

logging:
  level:
    root: WARN
    org:
      example: TRACE
      springframework:
        security: DEBUG